# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.DS_store
out
gen
target/
node_modules/
*.log
db/
*.tiled-session
*.tiled-project
kotlin-js-store/

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
