<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico"/>
    <title></title>
</head>

<body>
<div id="app">
    <el-container style="height: 900px;background-color: #dbdbdb">
        <el-header class="dashboard"><b>Java-MySQL-Dashboard</b></el-header>
        <el-container>
            <el-aside width="15%" height="100%">Aside</el-aside>
            <el-container>
                <el-row>
                    <el-button @click="doSql" icon="el-icon-caret-right"></el-button>
                </el-row>
                <el-row>
                    <el-col :span="18">
                        <el-input
                                type="textarea"
                                :autosize="{ minRows: 8, maxRows: 8}"
                                placeholder="请输入sql"
                                v-model="sql">
                        </el-input>
                    </el-col>
                </el-row>
                <el-row v-if="type==1||type==2">
                    <i class="el-icon-success" style="color:green"></i>
                    执行成功 执行时间{{ sqlTime}}
                </el-row>
                <el-row v-if="type==1">
                    <el-col :span="18">
                        <el-table :data="tableData" border>
                            <el-table-column
                                    v-for="(index,value) in tableCols" :key="index"
                                    :prop="index" :label="index">
                            </el-table-column>
                        </el-table>
                    </el-col>
                </el-row>
                <el-row v-if="type==3">
                    <i class="el-icon-error" style="color:red"></i>
                    执行失败,错误信息:{{errorMessage}}
                </el-row>
                <el-footer></el-footer>
            </el-container>
        </el-container>
    </el-container>
</div>
</body>
<!-- 引入 Vue -->
<script src="js/vue.js"></script>
<!-- 引入 公共组件-->
<script type="text/javascript" src="js/header.js"></script>
<!-- 引入element-UI组件库 -->
<script src="js/index.js"></script>
<link rel="stylesheet" href="css/index.css">
<!-- 引入axios -->
<script src="js/jQuery.js"></script>
<script>
    new Vue(
        {
            el: '#app',
            data: {
                //   1是数据sql  2是成功无信息sql 3是错误sql
                type: 0,
                tableData: [],
                tableCols: [],
                sql: '',
                errorMessage: '',
                loading: false
            },
            watch: {},
            methods: {
                doSql() {
                    $.get(`/execute?sql=${this.sql}`).then(res => {
                        this.loading = true;
                        if (res.code === 200) {
                            this.type = 1;
                            this.tableCols = res.head;
                            this.tableData = res.data;
                            this.sqlTime = res.sqlTime;
                        } else if (res.code === 100) {
                            this.type = 2;
                            this.sqlTime = res.sqlTime;
                        } else {
                            this.type = 3;
                            this.errorMessage = res.errorMessage
                        }
                        this.loading = false;
                    })
                }
            },
            mounted() {
            },
        }
    );
</script>
<style>
    .dashboard {
        background-color: #7CCD7C;
        color: #333;
        text-align: center;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }

    .el-row {
        margin: 2px;
    }

</style>

</html>
