<configuration>

    <conversionRule conversionWord="clr" converterClass="tech.insight.core.logging.ColorConverter"/>

    <property name="LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){yellow} %clr(%-5level) %clr([%thread]){cyan} %clr(%logger{36}){blue} - %clr(%msg){magenta}%n"/>/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <logger name="tech.insight" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>
